* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    //scroll-padding: 88px;
}

a {
    text-decoration: none !important;
}

.f-family-open-sans-light {
    font-family: 'OpenSans-Light';
}

.f-family-open-sans-regular {
    font-family: 'OpenSans-Regular';
}

.f-family-open-sans-medium {
    font-family: 'OpenSans-Medium';
}

.f-family-open-sans-semi-bold {
    font-family: 'OpenSans-SemiBold';
}

.f-family-open-sans-bold {
    font-family: 'OpenSans-Bold';
}

.f-family-open-sans-extra-bold {
    font-family: 'OpenSans-ExtraBold';
}

