.login {
    height: 100dvh;
    .left {
        .login__form {
            width: 90%;
            max-width: 500px;
            @include md-viewport {
                width: 75%;
            }
            .form__title {
                margin-bottom: 80px;
                margin-top: 80px;
            }
            .form__inputs {
                .form-control.is-valid {
                    border-color: $blue-secondary;
                    background-image: url('/images/check.png') !important;
                }
            }
            .form__submit {
                margin-top: 70px;
                border: none;
                .spinner {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .right {
        .image-container {
            top: 15%;
            img {
                width: 90%;
                max-width: 500px;
            }
        }
    }
}