.aside {
    height: auto;
    background-color: transparent;
    @include sm-viewport {
        background-color: $blue-primary;
        height: 100dvh;
    };
    .aside__desktop {
        .list-menu-desktop {
            padding-top: 90px;
            .list-menu-desktop__item {
                list-style: none;
                padding: 10px 50px 10px 20%;
                margin-right: 20%;
                min-width: 160px;
            }
        }
        .active {
            background-color: $blue-secondary;
        }
    }
    .aside__mobile {
        background-color: $blue-primary !important;
    }
    .btn-close-session {
        left: 15%;
        bottom: 60px;
    }
}